# Archive
**.7z
**.bz2
**.gz
**.gzip
**.jar
**.lz4
**.lzma
**.pak
**.rar
**.tar
**.tbz2
**.tgz
**.tlz
**.txz
**.xz
**.zip
**.zst

# Artifacts
**.buildlog/
**.class
**.dart_tool/
**.flutter*
**.flutter-plugins
**.flutter-plugins-dependencies
**.history
**.iml
**.ipr
**.iws
**.lock
**.o
**.pub-cache/
**.pub/
**.pyc
**.so
**.whl
**/.dSYM/
**/.dart_tool/
**/.idea/
**/.ipynb_checkpoints/
**/__pycache__/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/app.*.map.json
**/app.*.symbols
**/build/
**/dist/
**/doc/api/
**/ios/Flutter/.last_build_id
**/migrate_working_dir/
**/node_modules/
**/package-lock.json
**/target/
**/venv/

# Audio
**.wav

# Auxiliary files
**.bak
**.swp
**.tmp

# Databases
**.db*
**.sqlite*

# Documents
**.csv
**.doc*
**.html
**.pdf
**.ppt*
**.txt
**.vsd*
**.xls*

# File managers
**.DS_Store
**.Trash*
**.directory
**esktop.ini

# Images
**.3dm
**.apng
**.bmp
**.dib
**.gif
**.hdp
**.ico
**.j2k
**.jfi
**.jfif
**.jif
**.jp2
**.jpe
**.jpeg
**.jpf
**.jpg
**.jpm
**.jpx
**.jxr
**.max
**.mj2
**.mng
**.pdf
**.png
**.raw
**.svg
**.svgz
**.tif
**.tiff
**.wdp
**.webp
**.xbm

# LaTeX
**(busy)
**.aux
**.bbl
**.bcf
**.blg
**.dvi
**.fdb_latexmk
**.fls
**.lof
**.log
**.lot
**.out
**.pdf
**.run.xml
**.synctex.gz
**.toc
**.xcp
**.xdv
**blx.bib
**comment.cut

# Video
**.mkv
**.mov
**.mp4